<div class="text-center">
  <h2><%= @cocktail.name %></h2>
</div>
<div class='container m-3'>

  <% if (@cocktail.photo.present?) %>
    <div class="card text-center" style="padding: 100px; color: white; text-shadow: 0px 0px 3px rgb(0, 0, 0); background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path @cocktail.photo%>')">

      <% @cocktail.doses.each do |d| %>
        <p><%= d.description %> - <%= d.ingredient.name %> | <%= link_to 'delete', dose_path(d), method: :delete %></p>
      <% end %>
    </div>
  <% else %>
    <div class="card text-center">
      <% @cocktail.doses.each do |d| %>
        <p><%= d.description %> - <%= d.ingredient.name %> | <%= link_to 'delete', dose_path(d), method: :delete %></p>
      <% end %>
    </div>
  <% end %>


  <%=  render 'doses/new', cocktail: @cocktail, dose: @dose, class: 'm-3'%>

  <div class="m-3">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, value: 'Upload', class: 'btn btn-dark' %>
    <% end %>
  </div>

  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <div>
    <%= link_to "All Cocktails", cocktails_path, class: 'btn btn-dark m-3'%>
  </div>
</div>
